<template name="home">
  {{#contentFor "headerButtonLeft"}}
    <a href="{{pathFor 'settings'}}" class="button button-icon nav-view-direction-forward icon ion-gear-a"></a>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="" class="button button-icon icon ion-chatboxes"></a>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">It's Tinder for X!</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      Content goes here
    {{/ionContent}}
  {{/ionView}}
</template>
<!--

"headerButtonLeft", "headerButtonRight" and "headerTitle". -->
